body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(169, 245, 248);
    
}

.Titulo{
    background-color: aliceblue;
    text-align: center;
}

.table{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

#boton{
    margin-left: 15px;
}

#titulo{
    margin-left: 465px;
}